openapi: 3.2.0
info:
  version: '0.5'
  title: Documentação Malga Providers API
  description: '# Authentication


    Os serviços de API da Malga são protegidos através de chaves de acesso.'
servers:
- url: https://api.malga.io
  description: Production
security:
- X-Client-ID: []
  X-Api-Key: []
tags:
- name: Providers
  description: Através das APIs de Providers você pode realizar a edição e atualização dos provedores vinculados a um merchant já cadastrado na Malga.
paths:
  /v1/providers/{id}:
    patch:
      operationId: updateProviders
      summary: Atualizar configurações de provedores do merchant
      parameters:
      - name: id
        required: true
        in: path
        description: Id do provedor
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProvidersDto'
      responses:
        '200':
          description: ''
      tags:
      - Providers
components:
  schemas:
    MerchantAcquirerSingleMid:
      type: object
      description: Informações do adquirente
      title: MID único
      required:
      - merchantId
      properties:
        merchantId:
          type: string
          description: ID do merchant. Obrigatório se não estiver em cada BIN. Caso esteja aqui no nível superior ele irá usar esse merchantId para todas as bandeiras.
          example: '1234567890'
        bin:
          type: array
          description: BINs do adquirente
          items:
            type: object
            required:
            - merchantId
            properties:
              brand:
                type: string
                description: Bandeira do BIN
                example: Mastercard
              value:
                type: string
                description: Valor do BIN
                example: '550259'
    UpdateProvidersDto:
      type: object
      properties:
        name:
          type: string
          description: Nome opcional de identificação do provedor
          example: SANDBOX
        credentials:
          type: object
          description: "Informe as credenciais fornecidas pelo provedor para autenticação. \n\nComo exemplo, utilizamos as credenciais de SANDBOX, porém a estrutura pode variar conforme o provedor. Consulte a [API de criação de merchant](../merchants/criacao-de-novo-merchant-para-cobranca) para saber quais informações são exigidas pelo seu provedor.\n\n**ATENÇÃO:** Alterar as credenciais pode impactar a integração e interromper o funcionamento dos serviços. \nCertifique-se de sempre validar as novas credenciais alteradas antes de atualizar.\n"
          properties:
            type:
              type: string
              description: Tipo do provedor
              example: SANDBOX
            apiKey:
              type: string
              description: Chave de API para autenticação no ambiente
              example: '1234567890'
        acquirer:
          oneOf:
          - $ref: '#/components/schemas/MerchantAcquirerSingleMid'
          - $ref: '#/components/schemas/MerchantAcquirerMultipleMid'
    MerchantAcquirerMultipleMid:
      type: object
      description: Informações do adquirente
      title: Múltiplos MID's
      properties:
        bin:
          type: array
          description: BINs do adquirente
          items:
            type: object
            required:
            - merchantId
            properties:
              merchantId:
                type: string
                description: ID do merchant. Obrigatório se não estiver cadastrado no nível superior. Caso esteja nesse nível ele irá usar o merchantId para cada respectivo BIN.
                example: '1234567890'
              brand:
                type: string
                description: Bandeira do BIN
                example: Mastercard
              value:
                type: string
                description: Valor do BIN
                example: '550259'
  securitySchemes:
    X-Client-ID:
      type: apiKey
      in: header
      name: X-Client-Id
    X-Api-Key:
      type: apiKey
      in: header
      name: X-Api-Key
x-tagGroups:
- name: API Key
  tags:
  - Client-token
- name: Cartões
  tags:
  - Tokens
  - Cards
- name: Pagamentos
  tags:
  - Customers
  - Charges
  - Sessions
  - Sellers
  - Vendors
  - Split
  - 3DSecure2
  - Settings
- name: Notificação e eventos
  tags:
  - Webhooks
- name: Provedores
  tags:
  - Merchants
  - Providers
- name: Gestão de pagamentos
  tags:
  - Flows
- name: Exportar Dados
  tags:
  - Reports
- name: Apêndice
  tags:
  - Tabelas de tipos
