openapi: 3.1.0
info:
  version: '0.5'
  title: Documentação Malga 3DS2 Malga Providers API
  description: "# Authentication\n\nOs serviços de API da Malga são protegidos através de chaves de acesso. Você pode gerenciar suas chaves de acesso através do seu dashboard.\n\nÉ importante armazenar suas chaves de maneira privada e segura uma vez que elas possuem privilégios de alteração na sua conta. Não compartilhe suas chaves, não deixe elas fixadas no seu código e nem armazene elas no seu servidor de controle de versão. Recomendamos utilizar variáveis de ambiente secretas para deixar a chave disponível para sua aplicação.\n\nA Autenticação para todos os chamadas da API é feita através de headers HTTP, sendo necessário informar seu identificador de cliente na Malga e a chave secreta de acesso.\n\n## X-Client-ID\n\nIdentificador única da sua conta na Malga. Deve ser enviado no header obrigatóriamente em todas as requisições feitas a API.\n\n| Security Scheme Type | API Key |\n|-----------------------|-----------|\n| Header parameter name | `X-Client-ID` |\n\n## X-Api-Key\n\nSua chave de acesso a API. Funciona em par com o client-id devendo ser enviado no header obrigatóriamente em todas as requisições feitas a API.\n\n| Security Scheme Type | API Key |\n|-----------------------|-----------|\n| Header parameter name | `X-Api-Key` |\n\n## Exemplo de requisicão autenticada\n\n```bash\n  curl --location --request GET 'https://api.malga.io/v1/' \\\n    --header 'X-Client-Id: <YOUR_CLIENT_ID>' \\\n    --header 'X-Api-Key: <YOUR_SECRET_KEY>'\n```\n"
servers:
- url: https://api.malga.io
  description: Production
security:
- X-Client-ID: []
  X-Api-Key: []
tags:
- name: Providers
  description: '

    Através das APIs de Providers você pode realizar a edição e atualização dos provedores vinculados a um merchant já cadastrado na Malga.


    Essas operações permitem que você mantenha seus dados sempre atualizados, garantindo a continuidade e a segurança das integrações com os provedores de pagamento.


    **Atenção:**

    Alterações nas credenciais ou configurações do provedor podem impactar o processamento das transações. Sempre revise e valide as informações antes de salvar.


    ### Consulte a [tabela de provedores aceitos](#section/Provedores-e-meios-de-pagamentos-suportados) para cadastro de credenciais


    ### Consulte a [tabela de código MCC](api-reference/type-tables/mcc-code.mdx) para cadastro de Merchants


    **Dados básicos do objeto do tipo providers**


    <SchemaDefinition schemaRef="#/components/schemas/UpdateMerchantProviderDto" exampleRef="#/components/examples/UpdateMerchantProviderDto" />

    '
paths:
  /v1/providers/{id}:
    patch:
      operationId: updateProviders
      summary: Atualizar configurações de provedores do merchant
      parameters:
      - name: id
        required: true
        in: path
        description: Id do provedor
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProvidersDto'
      responses:
        '200':
          description: ''
      tags:
      - Providers
components:
  schemas:
    UpdateProvidersDto:
      type: object
      properties:
        name:
          type: string
          description: Nome opcional de identificação do provedor
          example: SANDBOX
        credentials:
          type: object
          description: "Informe as credenciais fornecidas pelo provedor para autenticação. \n\nComo exemplo, utilizamos as credenciais de SANDBOX, porém a estrutura pode variar conforme o provedor. Consulte a [API de criação de merchant](../merchants/criacao-de-novo-merchant-para-cobranca) para saber quais informações são exigidas pelo seu provedor.\n\n**ATENÇÃO:** Alterar as credenciais pode impactar a integração e interromper o funcionamento dos serviços. \nCertifique-se de sempre validar as novas credenciais alteradas antes de atualizar.\n"
          properties:
            type:
              type: string
              description: Tipo do provedor
              example: SANDBOX
            apiKey:
              type: string
              description: Chave de API para autenticação no ambiente
              example: '1234567890'
        acquirer:
          oneOf:
          - $ref: '#/components/schemas/MerchantAcquirerSingleMid'
          - $ref: '#/components/schemas/MerchantAcquirerMultipleMid'
    MerchantAcquirerSingleMid:
      type: object
      description: Informações do adquirente
      title: MID único
      required:
      - merchantId
      properties:
        merchantId:
          type: string
          description: ID do merchant. Obrigatório se não estiver em cada BIN. Caso esteja aqui no nível superior ele irá usar esse merchantId para todas as bandeiras.
          example: '1234567890'
        bin:
          type: array
          description: BINs do adquirente
          items:
            type: object
            required:
            - merchantId
            properties:
              brand:
                type: string
                description: Bandeira do BIN
                example: Mastercard
              value:
                type: string
                description: Valor do BIN
                example: '550259'
    MerchantAcquirerMultipleMid:
      type: object
      description: Informações do adquirente
      title: Múltiplos MID's
      properties:
        bin:
          type: array
          description: BINs do adquirente
          items:
            type: object
            required:
            - merchantId
            properties:
              merchantId:
                type: string
                description: ID do merchant. Obrigatório se não estiver cadastrado no nível superior. Caso esteja nesse nível ele irá usar o merchantId para cada respectivo BIN.
                example: '1234567890'
              brand:
                type: string
                description: Bandeira do BIN
                example: Mastercard
              value:
                type: string
                description: Valor do BIN
                example: '550259'
  securitySchemes:
    X-Client-ID:
      type: apiKey
      in: header
      name: X-Client-Id
    X-Api-Key:
      type: apiKey
      in: header
      name: X-Api-Key
x-tagGroups:
- name: API Key
  tags:
  - Client-token
- name: Cartões
  tags:
  - Tokens
  - Cards
- name: Pagamentos
  tags:
  - Customers
  - Charges
  - Sessions
  - Sellers
  - Vendors
  - Split
  - 3DSecure2
  - Settings
- name: Notificação e eventos
  tags:
  - Webhooks
- name: Provedores
  tags:
  - Merchants
  - Providers
- name: Gestão de pagamentos
  tags:
  - Flows
- name: Exportar Dados
  tags:
  - Reports
- name: Apêndice
  tags:
  - Tabelas de tipos
